{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-5">Programme d'affiliation Nimes'alerie</h2>
                        <h3 class="py-3">Vous souhaitez devenir un partenaire de Nimes'alerie ?</h3>
                            <p>
                            Vous gérez un site Internet ou assurez la présence de votre association sur le web ? Inscrivez-vous dès maintenant et gagnez facilement 
                            et gratuitement une commission en devenant affilié de Nimes'alerie.
                            </p>
                            <h4 class="py-2">Comment ça marche ?</h4>
                                <p>• Faites de la promotion pour zooplus.fr sur votre site web.<br>

                                    • Grâce à des liens trackés, zooplus enregistre toutes les ventes générées par votre site web et vous reverse jusqu'à 3% de commission sur 
                                    le montant HT de ces ventes.<br>
                                    
                                    • Pour promouvoir notre boutique en ligne, vous aurez accès à une variété de visuels publicitaires attractifs ainsi qu'à des codes promos et 
                                    autres offres, qui peuvent être facilement intégrés à votre site web.<br>
                                    
                                    • Le paiement de vos commissions sera effectué mensuellement par virement sur votre compte bancaire.</p>
                            <h4 class="py-2">Pourquoi devenir un affilié ?</h4>
                                <p>Le programme d'affiliation de Nimes'alerie est l'un des plus grands et des plus florissants dans le domaine de l'animalerie. Vos internautes 
                                    pourront bénéficier de nos années d’expérience ainsi que de notre large sélection d'aliments et d'accessoires pour chien, chat, rongeur, 
                                    poisson, oiseau et cheval</p>

                        <h3 class="py-3">Quels sont vos avantages en tant qu'affilié de Nimes'alerie ?</h3>
                             <p>
                                • Jusqu'à 3 % de commission par vente<br>

                                • Large choix de supports publicitaires

                                • Données sur les produits (CSV) mis à jour quotidiennement avec des liens profonds vers les fiches produits<br>

                                • Offres exclusives et promotions spéciales<br>

                                • Montants des paniers et taux de réachat élevés<br>

                                • Taux d'annulation des ventes faible (environ 2%)<br>

                                • Durée des cookies de tracking de 30 jours<br>

                                • Avantages supplémentaires pour les Top Affiliés<br>

                                • Support personnalisé et ouverture aux nouvelles propositions
                             </p>

                        <h3 class="py-3">Quels sont les avantages de vos internautes ?</h3>
                            <p>
                                • Large sélection avec plus de 8 000 produits de fabricants renommés <br>

                                • Nouvelles offres et promotions régulières<br>

                                • Programme de fidélité avantageux
                            </p>

                        <h3 class="py-3">Inscrivez-vous dès maintenant au programme d'affiliation de Nimes'alerie :</h3>
                            <p>
                                • Lisez les conditions de participation et remplissez le formulaire d'inscription.<br>

                                • Une fois votre inscription terminée, vous recevrez un e-mail de confirmation. Nous vérifierons votre site web et vous ferons un retour 
                                pour vous informer sur votre candidature ainsi que vous donner quelques informations et conseils pour commencer votre participation au 
                                programme d'affiliation de Nimes'alerie.<br>

                                • Une fois votre compte activé, vous pourrez vous connecter à votre espace affilié à l'aide de l'adresse e-mail et du mot de passe que vous 
                                aurez choisis.<br>

                                • Vous y trouverez des visuels publicitaires avec des liens faciles à intégrer sur votre site web.<br>

                                • Surveillez vos performances et optimisez votre campagne à l'aide des statistiques fournies.
                            </p>
                </div>
            </main>
        </body>
{% endblock %}