{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-4">Déclaration relative à la protection des données </h2>
                        <h3 class="pb-3">Vos droits</h3>
                            <p>
                                Vous avez le droit d'exiger à tout moment de Nimes'alerie, la confirmation du traitement ou du non-traitement de vos données personnelles et 
                                d'obtenir des renseignements sur vos données personnelles. De plus, vous avez le droit de rectifier, de supprimer ou de restreindre le 
                                traitement des données et vous avez également le droit de vous opposer à tout moment au traitement de vos données personnelles et de 
                                révoquer à tout moment votre autorisation de traiter vos données personnelles ou d'exiger le transfert des données.

                                Veuillez adresser tous vos souhaits d'information, vos demandes de renseignements, vos révocations ou vos oppositions au traitement des 
                                données par e-mail à l'adresse service@nimesalerie.fr ou à notre responsable de la protection des données. En cas d'infraction à la 
                                législation sur la protection des données, vous avez en outre le droit de saisir une autorité de surveillance. 
                            </p>

                        <h3 class="py-3">Informations sur le droit de révocation spécial </h3>
                            <p>
                                Conformément à l'article 21 du RGPD, vous avez le droit de vous opposer à tout moment, au traitement de données personnelles vous concernant 
                                conformément entre autres, aux règlementations de l'article 6, alinéa 1, lettre e) ou f) du RGPD, pour des raisons liées à votre situation 
                                particulière. Nous cesserons de traiter vos données personnelles sauf si nous pouvons prouver qu'il existe des raisons impératives dignes 
                                d'être défendues de les traiter, qui prévalent sur vos intérêts, vos droits et vos libertés ou si le traitement de vos données sert à faire 
                                valoir, à exercer ou à défendre des droits légitimes. Si vous souhaitez faire usage de votre droit d'opposition, il vous suffit d'envoyer 
                                un e-mail à l'adresse service@nimesalerie.fr.:
                            </p>
                </div>
            </main>
        </body>
{% endblock %}