{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-4">Contact</h2>
                        <h3 class="pt-2 pb-3">Nous contacter par téléphone</h3>
                            <p>
                                Notre Service Clients est à votre disposition du du lundi au vendredi de 9h à 18h / <br>
                                et le samedi de 10h à 13h et de 14h à 18h au : 04 81 91 92 93
                            </p>

                        <h3 class="pt-2 pb-3">Nous contacter par courrier</h3>
                            <p>
                                Vous pouvez nous écrire à l'adresse suivante :
                                Nimes'alerie SAS
                                46 CHEMIN DE LA BRUYÈRE
                                PARC INNOVALIA
                                30000  NÎMES
                                France
                            </p>
                </div>
            </main>
        </body>
{% endblock %}