{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-4">Dispositions sur l’élimination des déchets</h2>
                        <h3 class="pb-3">Recyclage des piles usagées</h3>
                            <p>
                            Les remarques suivantes concernent les personnes qui utilisent des piles ou des appareils livrés avec une pile et 
                            qui ne sont pas destinés à la revente (consommateurs) :
                            </p>
                        <h4 class="pb-2">1. Recyclage gratuit des piles usagées</h4>
                            <p>
                            Les piles et les batteries ne doivent pas être jetées dans les ordures ménagères courantes. Pour assurer l’élimination
                            appropriée des piles usagées, vous êtes légalement tenus de les déposer au centre de collecte de votre commune, dans 
                            les grandes surfaces ou tout autre point de vente de piles ou de batteries. En tant que distributeur, nous sommes 
                            également tenus de reprendre les piles usagées. Toutefois, cette obligation de reprise se limite aux piles usagées de 
                            type que nous utilisons ou avons utilisé dans notre gamme de produits. Les piles ou les batteries que vous avez reçues 
                            avec un appareil acheté chez Nimes'alerie peuvent être renvoyées par courrier suffisamment affranchi à l'adresse suivante : 
                            </p>
                            <p><span class="gras">Rhenus Contract Logistics Chalon</span><br>
                            Bâtiment A <br>

                            Distripôle Chalon <br>
                                
                            ZAC du Parc d'Activité du Val de Bourgogne <br>
                                
                            71100 - SEVREY</p>
                            <h4 class="pb-2">2. Signification du symbole de la poubelle barrée</h4>
                            <p>
                            Le symbole de la poubelle barrée sur les produits et les piles (cf. ci-dessous) indique que les piles ne doivent pas être jetées dans les
                            déchets ménagers. Lorsque les symboles Hg, Cd ou Pb sont indiqués, cela signifie que la pile contient plus de mercure (Hg > 0,0005 %),
                            cadmium (Cd > 0,002 %) ou plomb (Pb > 0,004 %) que la valeur spécifiée dans la Directive 2006/66/CE sur les piles et les batteries. 
                            </p>
                        <h3 class="pt-2 pb-3">Recyclage des appareils électriques et électroniques usagés</h3>
                            <p>
                            Le pictogramme « poubelle barrée » indique que les appareils électriques et électroniques ne doivent pas être jetés dans les déchets ménagers.
                            Vous pouvez les déposer gratuitement au centre de collecte de votre commune. Vous pouvez également renvoyer les petits appareils usagers par
                            colis postaux. Pour ce faire, nous vous fournissons une étiquette de retour que vous pouvez demander par téléphone au : 0033-367-750-142,
                            ou par e-mail à l’adresse suivante: service@nimesaleries.fr. Veillez à ce que l’emballage soit suffisamment résistant pour éviter que l’appareil
                            ne soit cassé ou écrasé. Veuillez noter que nous ne reprenons les appareils usagers dont les bords mesurent plus de 25 cm que si vous avez
                            acheté un produit du même type chez nous. Le retour d’un appareil usager peut être refusé si celui-ci représente un danger pour la santé
                            ou la sécurité de l’homme. Il est de votre responsabilité de supprimer toutes données personnelles présentes sur l’appareil. Veillez à 
                            retirer les piles et les batteries à l’intérieur de l’appareil à recycler.
                            </p>

                        <h3 class="pt-2 pb-3">Obligations réglementaires s’appliquant à l’emballage</h3>
                            <p>
                            Le recyclage et l'élimination des emballages nous incombent et sont effectués par une société de gestion des déchets habilitée.
                            </p>
                </div>
            </main>
        </body>
{% endblock %}