{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-5">Processus de recrutement</h2>
                            <p>
                                Vous voulez faire partie de quelque chose de plus grand et en même temps avoir un impact sur la façon dont les choses sont faites ? 
                                Alors peut-être qu'il est temps de prendre le taureau par les cornes et de saisir l'opportunité. 
                                Voici ce qui se passe lorsque vous postulez.<br>
                                Que doit contenir votre candidature ? Nous avons besoin de votre CV, y compris vos données personnelles comme adresse, e-mail et numéro de 
                                téléphone. 
                                De plus, une lettre de motivation comprenant vos prétentions salariales et la période de préavis est obligatoire. La lettre de motivation doit
                                expliquer 
                                vos raisons personnelles pour lesquelles vous souhaitez rejoindre nimes'alerie. Nous apprécions également que vous nous envoyiez les certificats 
                                et les lettres de recommandation les plus pertinents.<br> 
                                <a class="primary" href="mailto:candidature@nimesalerie.fr">Boite à candidature</a>
                            </p>
                </div>
            </main>
        </body>
{% endblock %}