{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-5">Informations de livraison Nimes'alerie</h2>
                        <h3 class="pb-4">Délai de livraison en France métropolitaine:</h3>
                            <p>
                                Toute commande effectuée sur le site avant 13h un jour ouvré est remise au transporteur le jour même sauf incident 
                                exceptionnel. Passé 13h, les commandes sont traitées dans les 12h après validation. Les commandes sont ensuite 
                                généralement livrées sous 24h après le départ de notre entrepôt.
                            </p>
                </div>
            </main>
        </body>
{% endblock %}