{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-4">Mentions légales</h2>
                            <p class="pb-5">
                            Nous recommandons vivement à tous les visiteurs du site de lire attentivement les présentes 
                            mentions légales avant toute consultation de Nîmes'alerie. Tout internaute visitant notre site 
                            internet accepte les présentes conditions et s’engage à les respecter. Nous nous réservons le 
                            droit de modifier ponctuellement nos mentions légales, c'est pourquoi nous vous recommandons de 
                            les consulter régulièrement. Nous vous invitons également à consulter au préalable nos conditions 
                            générales de vente.
                            </p>
                        <h3 class="pb-4">Loi applicable :</h3>
                            <p class="pb-5">
                                Les Conditions Générales de Vente sont régies par la loi française à l'exclusion du droit
                                 commercial des Nations Unis, même si la livraison s'effectue dans un pays autre que 
                                 la France. Ainsi en cas de litige, la loi appliquée sera celle du pays du siège social
                                  de la société même si le consommateur n'est pas domicilié dans un des pays de l'union 
                                  Européenne. Dans l'hypothèse où l'une des présentes clauses serait nulle, cela ne saurait 
                                  en aucun cas affecter la validité et le respect des présentes Conditions Générales de Vente. 
                                  Nous nous réservons le droit de modifier ponctuellement ces termes et conditions, c'est pourquoi 
                                  nous vous recommandons de les consulter régulièrement. Toutefois, les termes et conditions applicables 
                                  sont celles en vigueur sur le site à la date de passation de votre commande.
                            </p>
                            <h3 class="pb-4">Utilisation des données personnelles collectées sur le site :</h3>
                                <p class="pb-5">
                                    Le traitement automatisé de données à caractère personnel mis en œuvre dans le cadre de ce 
                                    site internet a été déclaré à la CNIL sous le numéro 1530153. Les données à caractère 
                                    personnel que vous êtes amenés à nous communiquer sont collectées, enregistrées et traitées 
                                    par Nîmes'alerie conformément à la loi n°78-17 de la loi du 6 janvier 1978 relative à 
                                    l’informatique, aux fichiers et aux libertés, modifiée par la loi du 6 août 2004. Pour plus 
                                    d’informations et pour connaître vos droits, vous pouvez consulter notre
                                    politique de sécurité et de confidentialité des données.
                                </p>
                                <h3 class="pb-4">Modération :</h3>
                                    <p class="pb-5">
                                        Vous pouvez formuler un avis et émettre une note d’évaluation sous chacune des 
                                        fiches produit. Ces avis expriment uniquement l’opinion personnelle des utilisateurs 
                                        du site. Tous les commentaires, qu’ils soient positifs ou négatifs, sont vérifiés 
                                        avant publication sur le site. Ainsi, nous nous réservons la faculté de ne pas 
                                        publier un avis contraire à nos conditions de publication ou aux lois et règlements 
                                        en vigueur. 
                                    </p>
                                    <h3 class="pb-4">Propriété intellectuelle :</h3>
                                        <p class="pb-5">
                                            L’ensemble de ce site et chacun des éléments qui le composent (photographies, 
                                            textes, illustrations, vidéos…) sont soumis à la législation en vigueur sur le 
                                            droit de la propriété intellectuelle et sont la propriété exclusive de Nîmes'alerie 
                                            et de ses partenaires. L’utilisation de ces contenus n’est autorisée qu’à des fins 
                                            strictement personnelles. Toute autre forme d’utilisation est interdite sauf 
                                            autorisation expresse et préalable de Nîmes'alerie.<br>

                                            Les marques et logos de Nîmes'alerie et de ses partenaires cités sur ce site sont protégés 
                                            par la législation relative au droit des marques et des dessins et modèles. Toute reproduction 
                                            ou représentation totale ou partielle est interdite sauf autorisation expresse et préalable de 
                                            Nîmes'alerie.<br>
                                            
                                            Toute atteinte portée à des droits privatifs de brevets, dessins et modèles, marques ou droit 
                                            d’auteur constitue une contrefaçon qui engage la responsabilité civile et/ou pénale du 
                                            contrefacteur.
                                        </p>
                                    <h3 class="pb-4">Liens hypertextes :</h3>
                                        <p>
                                            La création de liens hypertextes, simples ou profonds, pointant vers les pages du présent site 
                                            est autorisée sous réserve :
                                        </p>
                                            <p>
                                                <li class="gras">de ne pas être utilisée à des fins publicitaires ou commerciales</li>
                                                <li class="gras">de mentionner clairement la source</li>
                                                <li class="gras">de ne pas utiliser la pratique du «framing» ou de l’«in-line linking» : le site internet de 
                                                    Nîmes'alerie doit apparaître sur une nouvelle fenêtre et ne pas être imbriqué à l’intérieur des 
                                                    pages d’un autre site.</li>
                                            </p>
                                            <p class="pb-5">
                                            Nîmes'alerie ne peut être tenu responsable du contenu des liens hypertextes présents sur son site et pointant 
                                            vers des ressources extérieures.   
                                        </p>
                                        <h3 class="pb-4">Cookies :</h3>
                                        <p class="pb-5">
                                            Les cookies sont des moyens d'identification numériques transférés sur le disque dur de votre ordinateur grâce à 
                                            votre navigateur Internet. Le cookie est une technique courante, utilisée par de nombreuses boutiques en ligne. 
                                            En règle générale, quand vous faites vos achats en ligne, le contenu de votre panier virtuel est mémorisé par des 
                                            cookies.

                                            Après vous être identifié(e) (nom d’utilisateur et mot de passe), nous utilisons une « session cookies », grâce à 
                                            laquelle vous restez identifié(e) pendant toute la durée de votre visite sur le site. Quand vous quittez le site, 
                                            la session cookies expire automatiquement.

                                            Pendant votre période de shopping chez Nîmes'alerie, nous transférons des cookies permanents sur votre disque dur. Cela
                                            permet à nos systèmes de mémoriser votre panier d'achat lorsque vous faites votre shopping chez nous et de 
                                            l’enregistrer pour une visite future (jusqu’à 90 jours). Ils permettent aussi d’identifier les abus, par exemple 
                                            si deux comptes sont attachés à votre ordinateur. Enfin, les cookies nous permettent d’enregistrer les termes que 
                                            vous avez précédemment recherchés sur le site et de vous les proposer. Sur le site mobile, les cookies sont utilisés
                                            pour que nous puissions vous reconnaître dès la page d’accueil, retrouver vos commandes des sept derniers jours
                                            ainsi que leurs statuts et saisir automatiquement votre adresse e-mail pour l’identification.
                                            <br>
                                            Lors de l’utilisation de bannières et de liens publicitaires externes depuis Nîmes'alerie, des identifiants spécifiques
                                            pour ces actions publicitaires ou parfois des codes de réduction vous sont attribués à l’aide de cookies.
                                            <br>
                                            Les cookies permanents ne contiennent en eux-mêmes aucune donnée à caractère personnel. Les noms, adresse e-mail, 
                                            adresse IP, etc. ne sont pas enregistrés dans les cookies. Vous ne pouvez être identifié(e) sur la base de votre 
                                            comportement de navigation.
                                            <br>
                                            Vous pouvez désactiver l’utilisation des cookies dans votre navigateur, la réduire sur certains sites ou encore 
                                            paramétrer votre navigateur de façon à ce qu’il vous informe dès qu’un cookie est envoyé. À tout moment, vous pouvez 
                                            supprimer les cookies du disque dur de votre ordinateur. Veuillez cependant noter qu’en bloquant certains cookies, 
                                            vous êtes susceptibles de ne pas avoir accès à toutes les fonctionnalités de Nîmes'alerie.
                                            <br>
                                            Les cookies peuvent être désactivés grâce à la fonction aide de presque tous les navigateurs. Pour une information 
                                            détaillée veuillez cliquer
                                            ici.
                                        </p>
                </div>
            </main>
        </body>
{% endblock %}