{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-5">Service Presse et communiqués de la nimes'alerie</h2>
                        <h3 class="pb-4">Service Presse produits et shop :</h3>
                            <p>
                                Toutes les informations et les visuels afférents à nos produits ainsi qu’à la boutique en ligne nimes'alerie sont à la disposition des journalistes, 
                                sous condition qu’ils soient utilisés à des fins exclusivement journalistiques et que les sources soient citées. Si vous le souhaitez, 
                                nous pouvons vous envoyer les informations dont nous disposons ainsi que nos communiqués de presse. Pour cela, veuillez nous faire parvenir
                                un exemplaire justificatif des parutions ou un lien justificatif pour les média en ligne.<br>
                                Pour tout renseignement complémentaire ou si vous souhaitez obtenir d’autres visuels, c’est avec plaisir que nous vous aiderons ou que nous vous inscrirons dans notre liste de destinataires presse. 
                                Pour prendre contact avec nous, utilisez le <a>formulaire de contact</a> ou notre adresse postale :
                            </p>
                            <p>
                                <span class="gras">Nimes'alerie</span><br>
                                Nadège Capard<br>
                                11 rue du fossé<br>
                                30000 Nîmes 
                            </p>
                </div>
            </main>
        </body>
{% endblock %}