{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}

<!--Corps-->
        <body>
            <main class="container ">
                <div class="primary bord text-center my-4 p-5">
                    <h2 class="pb-5">Qui sommes-nous ?</h2>

                        <h3 class="pb-4">Les meilleurs services pour vous et votre animal !</h3>
                            <p>Vous aimez vos animaux plus que tout et il ne se passe pas un seul jour sans que vous ne pensiez à leur bien-être et à leur bonheur ? 
                                Pour nous, il n'y a rien de plus important que de vous apporter des solutions pour satisfaire votre petit compagnon - et ce depuis 20 ans !<br>
                                Qu’il ait des nageoires, des sabots, des ailes  ou des pattes, rien ne nous tient plus à cœur que de répondre aux besoins de votre animal. 
                                Et puisque nous savons par expérience à quel point la recherche de la bonne nourriture et des bons accessoires et jouets peut être éprouvante, 
                                nous livrons tout ce dont votre animal a besoin directement chez vous. Qu'il s'agisse de sacs de nourriture, de litière ou de foin, ou encore d’aquariums, 
                                nous mettons tout en œuvre pour vous apporter la meilleure livraison possible. Vous évitez ainsi de transporter vos courses lourdes et encombrantes du supermarché jusqu’à chez vous et pendant ce temps, 
                                vous pouvez prendre soin de votre animal.
                            </p>
                </div>

                <div class="success bord my-4 p-5">

                        <h3 class="text-center pb-3">Notre gamme d'aliments savoureux ravit les animaux : </h3>
                            <ul>
                                <li>
                                    <span class="gras">Croquettes</span> : aliments secs pour les chats et les chiens sous forme de granulés, biscuits ou croquettes. 
                                    Elles sont adaptées aux besoins de votre animal, constituent la base d'une alimentation équilibrée et offrent à votre animal une expérience de mastication unique.
                                </li><br>
                                <li>
                                    <span class="gras">Boîtes et sachets</span> : aliments humides savoureux pour les chats et les chiens pouvant convenir comme aliment complet ou complément avec une forte teneur en eau, 
                                    pour garantir à votre animal une alimentation équilibrée et lui apporter tous les nutriments essentiels ainsi qu’un apport en eau optimal.
                                </li><br>
                                <li>
                                    <span class="gras">Friandises</span> : que ce soit pour passer le temps ou pour l'éducation et l’entrainement de votre animal, nos friandises offrent une expérience culinaire incomparable aux chiens, 
                                    aux chats  et aux rongeurs. Nos petites friandises constituent une récompense idéale.
                                </li><br>
                                <li>
                                    <span class="gras">Compléments alimentaires</span> : pour compenser les carences nutritives dans l'alimentation de votre animal, nos compléments alimentaires couvrent tous les besoins en vitamines et 
                                    en nutriments afin que votre animal ne manque d'aucun élément essentiel à sa santé.
                                </li><br>
                                <li>
                                    <span class="gras">BARF</span> : nourriture crue biologiquement appropriée pour votre chien, adaptée à son alimentation naturelle en tant que descendant du loup, avec des légumes, des fruits et de la viande crus.
                                </li>
                            </ul>
                </div>
                <div class="primary bord text-center my-4 p-5">

                        <h3 class="pb-4">Des accessoires colorés et amusants !</h3>
                            <p>Outre la nourriture et les friandises, il ne faut pas oublier les activités de loisirs de votre animal. 
                                Un endroit confortable pour dormir, des gamelles et des jouets captivants pour les chiens et les chats sont des éléments primordiaux 
                                pour que votre animal se sente épanoui et ne doivent pas être négligés. C'est pourquoi zooplus propose une large gamme d'accessoires pour tous les besoins de votre animal, 
                                avec lesquels vous pouvez non seulement transporter votre petit compagnon, mais aussi l'éduquer. Pour ne pas laisser de côté le facteur divertissement, nous proposons également 
                                toute une gamme de jouets amusants avec lesquels votre animal peut se défouler et s'amuser. Que votre compagnon soit jeune ou plus âgé, il y en a pour tous les goûts !
                            </p>                       
                </div>
            </main>
        </body>
{% endblock %}