{% extends 'base.html.twig' %}

{% block title %}Nîmes'Alerie{% endblock %}

{% block body %}
        <body>

            <div class="container primary bord tex p-2 my-3">

              <!--margin-bottom: 20px; padding :20px; border: 1px solid black;-->

                    <div class="retractation m-2 px-3 pt-4 pb-5 border">
                      <h5 class="text-center" >FORMULAIRE DE RETRACTATION</h5>
                      <p>Le présent formulaire doit être complété et renvoyé uniquement si le Client souhaite se rétracter de la commande passée sur le Site sauf exclusions ou limites à l’exercice du droit de rétractation suivant les Conditions Générales de Vente applicables.</p>
                      <p>A l’attention de :</p>
                      <p>"Numéro et rue du vendeur"</p>
                      <hr>
                      <p>"Code postal du vendeur"</p>
                      <hr>
                      <p>"Ville du Vendeur"</p>
                      <hr>
                      <p>Je notifie par la présente la rétractation du contrat portant sur la commande du bien ci-dessous :</p>
                      <ul>
                        <li>Commande du "Date"........................................................................</li>
                        <li>Numéro de la commande : .............................................................</li>
                        <li>Nom du Client : .................................................................................</li>
                        <li>Adresse du Client : ............................................................................</li>
                        <li>Bien retourné : ................................................................................</li>
                      </ul>
                      <p>&nbsp;</p>
                      <p>Signature du Client (uniquement en cas de notification du présent formulaire sur papier) :</p>
                      </div>

            </div>

        </body>
{% endblock %}